@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);



#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-navbar__items a {
  font-family: 'Ubuntu', sans-serif;
}
#ext_menu-1 .mbr-brand__name a {
  font-family: 'Ubuntu', sans-serif;
}
#social-buttons2-4 .mbr-header__text {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
